<md-card *ngIf="original">
    <md-card-header>
        <md-card-title>{{original.name}}</md-card-title>
        <md-card-subtitle>{{original.environment}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <md-input-container>
            <input mdInput #listFilter (keyup)="o" placeholder="search">
        </md-input-container>
        <md-nav-list dense>
            <app-var fxLayout="row" *ngFor="let envVar of (original.vars | ngFuse:listFilter.value:{keys: ['key', 'value']})" [item]="envVar" (onEdit)=onEdit($event)></app-var>
        </md-nav-list>
    </md-card-content>
    <button md-fab (click)="save()"><md-icon>save</md-icon></button>
</md-card>
