<div fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxLayoutAlign="center stretch">
        <md-input-container>
            <input mdInput placeholder="application">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="environment">
        </md-input-container>
    </div>
    <md-input-container>
        <textarea mdInput placeholder="key=values"></textarea>
    </md-input-container>
    <button md-button>create</button>
</div>
